<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Sofia</title>

		<!-- BEGIN META -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="keywords" content=""/>
		<meta name="description" content=""/>
		<!-- END META -->

		<!-- BEGIN STYLESHEETS -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
		<link type="text/css" rel="stylesheet" href="css/theme-default/bootstrap.css?1422792965" />
		<link type="text/css" rel="stylesheet" href="css/theme-default/materialadmin.css?1425466319" />
		<link type="text/css" rel="stylesheet" href="css/theme-default/font-awesome.min.css?1422529194" />
		<link type="text/css" rel="stylesheet" href="css/theme-default/material-design-iconic-font.min.css?1421434286" />
		<link type="text/css" rel="stylesheet" href="css/theme-default/libs/DataTables/jquery.dataTables.css?1423553989" />
		<link type="text/css" rel="stylesheet" href="css/theme-default/libs/DataTables/extensions/dataTables.colVis.css?1423553990" />
		<link type="text/css" rel="stylesheet" href="css/theme-default/libs/DataTables/extensions/dataTables.tableTools.css?1423553990" />
		<!-- END STYLESHEETS -->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script type="text/javascript" src="js/libs/utils/html5shiv.js?1403934957"></script>
		<script type="text/javascript" src="js/libs/utils/respond.min.js?1403934956"></script>
		<![endif]-->
	</head>
	<body class="menubar-hoverable header-fixed">

		<!-- BEGIN HEADER-->
		<header id="header" >
			<div class="headerbar">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="headerbar-left">
					<ul class="header-nav header-nav-options">
						<li class="header-nav-brand" >
							<div class="brand-holder">
								<a href="../../html/search.html">
									<div class="tile-icon">
										<img src="img/logo-topo52.png" alt="" />
									</div>
								</a>
							</div>
						</li>
					</ul>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="headerbar-right">
					<ul class="header-nav header-nav-options">
						<li>
							<!-- Search form -->
							<form class="navbar-search" role="search">
								<div class="form-group">
									<input type="text" class="form-control" name="headerSearch" placeholder=""/>
								</div>
								<button type="submit" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
							</form>
						</li>
						<li class="dropdown hidden-xs">
							<a href="javascript:void(0);" class="btn btn-icon-toggle btn-default" data-toggle="dropdown">
								<i class="fa fa-bell"></i><sup class="badge style-danger">4</sup>
							</a>
							<ul class="dropdown-menu animation-expand">
								<li class="dropdown-header">Feed</li>
								<li>
									<a class="alert alert-callout alert-warning" href="javascript:void(0);">
										<strong>Novo Andamento</strong><br/>
										<strong>26/06/16 - 19:39</strong><br/>
										<small>Sicrano Souza x Company Y Co</small>
									</a>
								</li>
								<li>
									<a class="alert alert-callout alert-info" href="javascript:void(0);">
										<strong>Novo Andamento</strong><br/>
										<strong>26/06/16 - 17:59</strong><br/>
										<small>Empresa S.A x Fulano Silva</small>
									</a>
								</li>
							</ul><!--end .dropdown-menu -->
						</li><!--end .dropdown -->
						<li class="dropdown hidden-xs">
							<a href="javascript:void(0);" class="btn btn-icon-toggle btn-default" data-toggle="dropdown">
								<i class="fa fa-area-chart"></i>
							</a>
							<ul class="dropdown-menu animation-expand">
								<li class="dropdown-header">Armazenamento</li>
								<li class="dropdown-progress">
									<a href="javascript:void(0);">
										<div class="dropdown-label">
											<span class="text-light">Espaço utilizado</span>
											<strong class="pull-right">93%</strong>
										</div>
										<div class="progress"><div class="progress-bar progress-bar-danger" style="width: 93%"></div></div>
									</a>
								</li><!--end .dropdown-progress -->
							</ul><!--end .dropdown-menu -->
						</li><!--end .dropdown -->
					</ul><!--end .header-nav-options -->
					<ul class="header-nav header-nav-profile">
						<li class="dropdown">
							<a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
								<span class="profile-info">
									Antonio Alves
									<small>Administrador</small>
								</span>
							</a>
							<ul class="dropdown-menu animation-dock">
								<li><a href="../../html/pages/profile.html">Conta</a></li>
								<li class="divider"></li>
								<li><a href="../../html/pages/locked.html"><i class="fa fa-fw fa-lock"></i> Travar Tela</a></li>
								<li><a href="../../html/pages/login.html"><i class="fa fa-fw fa-power-off text-danger"></i> Sair</a></li>
							</ul><!--end .dropdown-menu -->
						</li><!--end .dropdown -->
					</ul><!--end .header-nav-profile -->
					<ul class="header-nav header-nav-toggle">
						<li>
							<a class="btn btn-icon-toggle btn-default" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false">
								<i class="fa fa-leanpub"></i>
							</a>
						</li>
					</ul><!--end .header-nav-toggle -->
				</div><!--end #header-navbar-collapse -->
			</div>
		</header>
		<!-- END HEADER-->

		<!-- BEGIN BASE-->
		<div id="base">

			<!-- BEGIN OFFCANVAS LEFT -->
			<div class="offcanvas">
			</div><!--end .offcanvas-->
			<!-- END OFFCANVAS LEFT -->

			<!-- BEGIN CONTENT-->
			<div id="content">
				<section>
					<div class="section-header">
						<ol class="breadcrumb">
							<li class="active">Relatórios</li>
						</ol>
					</div>
					<div class="section-body">
						<div class="row">
							<div class="col-lg-12">
								<div class="card card-printable style-default-light">
									<div class="card-head">
										<div class="tools">
											<div class="btn-group">
												<a class="btn btn-floating-action btn-primary" href="javascript:void(0);" onclick="javascript:window.print();"><i class="md md-print"></i></a>
											</div>
										</div>
									</div><!--end .card-head -->
									<div class="card-body style-default-bright">

										<!-- BEGIN INVOICE HEADER -->
										<div class="row">
											<div class="col-xs-8">
												<h1 class="text-light"><i class="fa fa-microphone fa-fw fa-2x text-accent-dark"> </i>Assinante <strong class="text-accent-dark">Advogados Associados</strong></h1>
											</div>
											<div class="col-xs-4 text-right">
												<h1 class="text-light text-default-light">RELATÓRIO CONTINGENCIAL SINTÉTICO</h1>
											</div>
										</div><!--end .row -->
										<!-- END INVOICE HEADER -->

										<br/>

										<!-- BEGIN INVOICE DESCRIPTION -->
										<div class="row">
											<div class="col-xs-4">
												<h4 class="text-light">Advogado Responsável</h4>
												<address>
													<strong>Antonio Alves</strong><br/>
													OAB/CE 23.445
												</address>
											</div><!--end .col -->
											<div class="col-xs-4">
												<h4 class="text-light">Preparado para</h4>
												<address>
													<strong>INFRACOMMERCE NEGOCIOS E SOLUÇÕES EM INTERNET LTDA</strong><br/>
													Ações Trabalhistas
												</address>
											</div><!--end .col -->
											<div class="col-xs-4">
												<div class="well">
													<div class="clearfix">
														<div class="pull-left"> Nº DO RELATÓRIO : </div>
														<div class="pull-right"> 0023 </div>
													</div>
													<div class="clearfix">
														<div class="pull-left"> DATA DO RELATÓRIO : </div>
														<div class="pull-right"> 10/06/16 </div>
													</div>
												</div>
											</div><!--end .col -->
										</div><!--end .row -->
										<!-- END INVOICE DESCRIPTION -->

										<br/>

										<!-- BEGIN INVOICE PRODUCTS -->
										<div class="row">
											<div class="col-md-12">
										<table class="table table-striped no-margin">
											<thead>
												<tr>
													<th>#</th>
													<th>Comarca</th>
													<th>Vara</th>
													<th>Parte Contrária</th>
													<th>Processo</th>
													<th>Andamento</th>
													<th>Valor</th>
													<th>Risco</th>
													<th>Ação/Objeto</th>
													<th>Cliente</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td>Osasco</td>
													<td>1ª JEC</td>
													<td>George Alexandre</td>
													<td>0011123-50.2014.808.0010</td>
													<td>AÇÃO JULGADA PARCIALMENTE PROCEDENTE PARA CONDENA A RÉ A RESTITUIÇÃO DE R$589,00 E R$3.000,00 A ´TITULO DE DANOS MORAIS.</td>
													<td>R$ 780,00</td>
													<td>Provável</td>
													<td>Indenizatória</td>
													<td>Cliente Ltda</td>
												</tr>
												<tr>
													<td>2</td>
													<td>Osasco</td>
													<td>1ª JEC</td>
													<td>George Alexandre</td>
													<td>0011123-50.2014.808.0010</td>
													<td>AÇÃO JULGADA PARCIALMENTE PROCEDENTE PARA CONDENA A RÉ A RESTITUIÇÃO DE R$589,00 E R$3.000,00 A ´TITULO DE DANOS MORAIS.</td>
													<td>R$ 780,00</td>
													<td>Provável</td>
													<td>Indenizatória</td>
													<td>Cliente Ltda</td>
												</tr>
												<tr>
													<td>3</td>
													<td>Osasco</td>
													<td>1ª JEC</td>
													<td>George Alexandre</td>
													<td>0011123-50.2014.808.0010</td>
													<td>AÇÃO JULGADA PARCIALMENTE PROCEDENTE PARA CONDENA A RÉ A RESTITUIÇÃO DE R$589,00 E R$3.000,00 A ´TITULO DE DANOS MORAIS.</td>
													<td>R$ 780,00</td>
													<td>Provável</td>
													<td>Indenizatória</td>
													<td>Cliente Ltda</td>
												</tr>
												<tr>
													<td>4</td>
													<td>Osasco</td>
													<td>1ª JEC</td>
													<td>George Alexandre</td>
													<td>0011123-50.2014.808.0010</td>
													<td>AÇÃO JULGADA PARCIALMENTE PROCEDENTE PARA CONDENA A RÉ A RESTITUIÇÃO DE R$589,00 E R$3.000,00 A ´TITULO DE DANOS MORAIS.</td>
													<td>R$ 780,00</td>
													<td>Provável</td>
													<td>Indenizatória</td>
													<td>Cliente Ltda</td>
												</tr>
												<tr>
													<td>5</td>
													<td>Osasco</td>
													<td>1ª JEC</td>
													<td>George Alexandre</td>
													<td>0011123-50.2014.808.0010</td>
													<td>AÇÃO JULGADA PARCIALMENTE PROCEDENTE PARA CONDENA A RÉ A RESTITUIÇÃO DE R$589,00 E R$3.000,00 A ´TITULO DE DANOS MORAIS.</td>
													<td>R$ 780,00</td>
													<td>Provável</td>
													<td>Indenizatória</td>
													<td>Cliente Ltda</td>
												</tr>
												<tr>
													<td>6</td>
													<td>Osasco</td>
													<td>1ª JEC</td>
													<td>George Alexandre</td>
													<td>0011123-50.2014.808.0010</td>
													<td>AÇÃO JULGADA PARCIALMENTE PROCEDENTE PARA CONDENA A RÉ A RESTITUIÇÃO DE R$589,00 E R$3.000,00 A ´TITULO DE DANOS MORAIS.</td>
													<td>R$ 780,00</td>
													<td>Provável</td>
													<td>Indenizatória</td>
													<td>Cliente Ltda</td>
												</tr>
											</tbody>
										</table>
											</div><!--end .col -->
										</div><!--end .row -->
										<!-- END INVOICE PRODUCTS -->

									</div><!--end .card-body -->
								</div><!--end .card -->
							</div><!--end .col -->
						</div><!--end .row -->
					</div><!--end .section-body -->
				</section>
			</div><!--end #content-->
			<!-- END CONTENT -->

			<!-- BEGIN MENUBAR-->
			<div id="menubar" class="menubar-inverse ">
				<div class="menubar-fixed-panel">
					<div>
						<a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
							<i class="fa fa-bars"></i>
						</a>
					</div>
					<div class="expanded">
						<a href="../../html/dashboards/dashboard.html">
							<span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
						</a>
					</div>
				</div>
				<div class="menubar-scroll-panel">

					<!--MENU LATERAL-->
					<ul id="main-menu" class="gui-controls">
						<li class="active">
							<a href="../../html/dashboards/dashboard.html" >
								<div class="gui-icon"><i class="md md-search"></i></div>
								<span class="title">Pesquisar</span>
							</a>
						</li>
						<li>
							<a href="../../html/dashboards/dashboard.html" >
								<div class="gui-icon"><i class="md md-add"></i></div>
								<span class="title">Novo Processo</span>
							</a>
						</li>
						<li>
							<a href="../../html/dashboards/dashboard.html" >
								<div class="gui-icon"><i class="md md-today"></i></div>
								<span class="title">Calendário</span>
							</a>
						</li>
						<li>
							<a href="../../html/dashboards/dashboard.html" >
								<div class="gui-icon"><i class="fa fa-leanpub"></i></div>
								<span class="title">Agenda</span>
							</a>
						</li>
						<li>
							<a href="../../html/dashboards/dashboard.html" >
								<div class="gui-icon"><i class="md md-notifications-none"></i></div>
								<span class="title">Feed</span>
							</a>
						</li>
						<li>
							<a href="../../html/dashboards/dashboard.html" >
								<div class="gui-icon"><i class="md md-close"></i></div>
								<span class="title">Sair</span>
							</a>
						</li>
					</ul>
					<!--/MENU LATERAL-->

					<div class="menubar-foot-panel">
						<small class="no-linebreak hidden-folded">
							<span class="opacity-75">Copyright &copy; 2016</span> <strong>Sofia Jurídica</strong>
						</small>
					</div>
				</div><!--end .menubar-scroll-panel-->
			</div><!--end #menubar-->
			<!-- END MENUBAR -->

			<!-- BEGIN OFFCANVAS RIGHT -->
			<div class="offcanvas">

				<!-- BEGIN OFFCANVAS SEARCH -->
				<div id="offcanvas-search" class="offcanvas-pane width-8">
					<div class="offcanvas-head">
						<header class="text-primary"><i class="fa fa-leanpub"></i> Agenda</header>
						<div class="offcanvas-tools">
							<a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
								<i class="md md-close"></i>
							</a>
						</div>
					</div>
					<div class="offcanvas-body no-padding">
						<ul class="list ">
							<li class="tile divider-full-bleed">
								<div class="tile-content">
									<div class="tile-text"><strong>A</strong></div>
								</div>
							</li>
							<li class="tile">
								<a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
									<div class="tile-text">
										Alex Nelson
										<small>123-123-3210</small>
										<small>Rua João Alferedo, 256</small>
									</div>
								</a>
							</li>
							<li class="tile">
								<a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">

									<div class="tile-text">
										Armazem Ltda
										<small>123-123-3210</small>
										<small>Rua João Alferedo, 256</small>
									</div>
								</a>
							</li>
							<li class="tile divider-full-bleed">
								<div class="tile-content">
									<div class="tile-text"><strong>J</strong></div>
								</div>
							</li>
							<li class="tile">
								<a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
									<div class="tile-text">
										JS Distribuidora Ltda
										<small>123-123-3210</small>
										<small>Rua João Alferedo, 256</small>
									</div>
								</a>
							</li>
							<li class="tile">
								<a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
									<div class="tile-text">
										João Silva
										<small>123-123-3210</small>
										<small>Rua João Alferedo, 256</small>
									</div>
								</a>
							</li>
							<li class="tile divider-full-bleed">
								<div class="tile-content">
									<div class="tile-text"><strong>M</strong></div>
								</div>
							</li>
							<li class="tile">
								<a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
									<div class="tile-text">
										Marcelo Toyoda
										<small>123-123-3210</small>
										<small>Rua João Alferedo, 256</small>
									</div>
								</a>
							</li>
							<li class="tile">
								<a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
									<div class="tile-text">
										Maria Silva
										<small>123-123-3210</small>
										<small>Rua João Alferedo, 256</small>
									</div>
								</a>
							</li>
							<li class="tile">
								<a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
									<div class="tile-text">
										Marcos da Costa Oliveira
										<small>123-123-3210</small>
										<small>Rua João Alferedo, 256</small>
									</div>
								</a>
							</li>
							<li class="tile divider-full-bleed">
								<div class="tile-content">
									<div class="tile-text"><strong>N</strong></div>
								</div>
							</li>
							<li class="tile">
								<a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
									<div class="tile-text">
										Nilson Santos
										<small>123-123-3210</small>
										<small>Rua João Alferedo, 256</small>
									</div>
								</a>
							</li>
							<li class="tile divider-full-bleed">
								<div class="tile-content">
									<div class="tile-text"><strong>P</strong></div>
								</div>
							</li>
							<li class="tile">
								<a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
									<div class="tile-text">
										Paulo Silva e Souza
										<small>123-123-3210</small>
										<small>Rua João Alferedo, 256</small>
									</div>
								</a>
							</li>
							<li class="tile divider-full-bleed">
								<div class="tile-content">
									<div class="tile-text"><strong>S</strong></div>
								</div>
							</li>
							<li class="tile">
								<a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
									<div class="tile-text">
										Samuel Aleixo
										<small>123-123-3210</small>
										<small>Rua João Alferedo, 256</small>
									</div>
								</a>
							</li>
						</ul>
					</div><!--end .offcanvas-body -->
				</div><!--end .offcanvas-pane -->
				<!-- END OFFCANVAS SEARCH -->

			</div><!--end .offcanvas-->
			<!-- END OFFCANVAS RIGHT -->

		</div><!--end #base-->
		<!-- END BASE -->

		<!-- BEGIN JAVASCRIPT -->
		<script src="js/libs/jquery/jquery-1.11.2.min.js"></script>
		<script src="js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
		<script src="js/libs/bootstrap/bootstrap.min.js"></script>
		<script src="js/libs/spin.js/spin.min.js"></script>
		<script src="js/libs/autosize/jquery.autosize.min.js"></script>
		<script src="js/libs/DataTables/jquery.dataTables.min.js"></script>
		<script src="js/libs/DataTables/extensions/ColVis/js/dataTables.colVis.min.js"></script>
		<script src="js/libs/DataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
		<script src="js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
		<script src="js/core/source/App.js"></script>
		<script src="js/core/source/AppNavigation.js"></script>
		<script src="js/core/source/AppOffcanvas.js"></script>
		<script src="js/core/source/AppCard.js"></script>
		<script src="js/core/source/AppForm.js"></script>
		<script src="js/core/source/AppNavSearch.js"></script>
		<script src="js/core/source/AppVendor.js"></script>
		<script src="js/core/demo/Demo.js"></script>
		<script src="js/core/demo/DemoTableDynamic.js"></script>
		<!-- END JAVASCRIPT -->

	</body>
</html>
